<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>WeTask Login</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="/stylesheets/signup_style.css">

  
</head>

<body>

  <!-- multistep form -->
<form id="msform">
  <!-- progressbar -->
  <h1 style = "font-size:30px;color:#fff;">WeTask</h1>
  <br><br><br>
  <fieldset>
    <h2 class="fs-title">登录</h2>
   <!--  <h3 class="fs-subtitle">3/3</h3>  -->

    <input type="text" name="email" placeholder="用户名" />
    
    <input type="password" name="pass" placeholder="密码" />
  <!--  <textarea name="address" placeholder="Address"></textarea>   -->

    <input type="submit" name="submit" class="submit action-button" value="提交" />
  </fieldset>   
</form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>

  

    <script  src="javascripts/signup.js"></script>




</body>

</html>
